<!DOCTYPE html>
<html>
<head>

    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script>
$(document).ready(function () {
            $("#time_filter").click(function () {
                if ($("#cat_hidden").css("display") == "none") {
                    $("#time_hidden").slideToggle(100);
                }
                else {
                    $("#cat_hidden").slideUp(100);
                    setTimeout(function () {
                        $("#time_hidden").slideToggle(100);
                    }, 100);
                }
            });
        });

        $(document).ready(function () {
            $("#cat_filter").click(function () {
                if ($("#time_hidden").css("display") == "none") {
                    $("#cat_hidden").slideToggle(100);
                }
                else {
                    $("#time_hidden").slideUp(100);
                    setTimeout(function () {
                        $("#cat_hidden").slideToggle(100);
                    }, 100);
                }
            });
        });</script>
</head>
<body>
    <style>
        html, body {
            width: 100%;
            margin: 0;
        }

        #jquerytests2 {
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        .bot-menu {
            box-sizing: border-box;
            float: left;
            width: 33.33vw;
            height: 10vh;
            border: solid 2px;
            text-align: center;
            position: relative;
            background-color: dimgray;
            border-color: gray;
        }

        #cat_filter {
            width: 33.33vw;
        }

        .bot-menu .buttons div {
            width: 100%;
            height: 10vh;
            display: table;
        }

        .bot-menu .buttons h4 {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        .menubuttom {
            height: 8vh;
            width: 8vh;
            top: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }

        .submenu {
            clear: both;
            display: none;
        }
    </style>
    <div id="jquerytests2">
        <div id="time_filter" class="bot-menu">
            <div id="time_button" class="buttons">
                <div>
                    <img src="~/Images/Time_Icon.png" class="menubuttom" alt="Tid">
                </div>
            </div>
        </div>
        <div id="cat_filter" class="bot-menu">
            <div id="cat_button" class="buttons" onclick="CatButton()">
                <div>
                    <img src="~/Images/Filter_Icon.png"  class="menubuttom" alt="Tid">
                </div>
            </div>
        </div>
        <div id="list" class="bot-menu">

            <div onclick="MyFunction()" id="list_button" class="buttons">
                <div>
                    <a href="@Url.Action("ListView", "Home")">
                    <img src="~/Images/List_Icon.png" alt="Tid" class="menubuttom" href="~/Home/ListView.cshtml">
                    </a>
                 </div>
            </div>
        </div>
        <div id="time_hidden" class="submenu">
            tids-filter
        </div>
        <div id="cat_hidden" class="submenu">
            kategori-filter
        </div>
    </div>

</body>
</html>
