<!DOCTYPE html>
<html>
<head>

    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script>
$(document).ready(function () {
            $("#time_filter").click(function () {
                if ($("#cat_hidden").css("display") == "none") {
                    $("#time_hidden").slideToggle(100);
                }
                else {
                    $("#cat_hidden").slideUp(100);
                    setTimeout(function () {
                        $("#time_hidden").slideToggle(100);
                    }, 100);
                }
            });
        });

        $(document).ready(function () {
            $("#cat_filter").click(function () {
                if ($("#time_hidden").css("display") == "none") {
                    $("#cat_hidden").slideToggle(100);
                }
                else {
                    $("#time_hidden").slideUp(100);
                    setTimeout(function () {
                        $("#cat_hidden").slideToggle(100);
                    }, 100);
                }
            });
        });</script>
</head>
<body>
    <style>
        html, body {
            width: 100%;
            margin: 0;
        }

        #jquerytests2 {
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        .bot-menu {
            box-sizing: border-box;
            float: left;
            width: 33vw;
            height: 10vh;
            border: solid 2px;
            text-align: center;
            position: relative;
            background-color: dimgray;
            border-color: gray;
        }

        #cat_filter {
            width: 34vw;
        }

        .bot-menu .buttons div {
            width: 100%;
            height: 10vh;
            display: table;
        }

        .bot-menu .buttons h4 {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        .menubuttom {
            height: 8vh;
            width: 8vh;
            top: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }

        .submenu {
            clear: both;
            background-color: dimgray;
            color: white;
            display: none;
            padding-left: 4vh;
            padding-top: 1vh;
        }

        /* Start Custom checkbox */
        .container {
            width:33%;
            display: inline-block;
            position: relative;
            padding-left: 3.5vh;
            margin-bottom: 1vh;
            cursor: pointer;
            font-family: Roboto, sans-serif;
            font-size: 2.5vh;
            font-weight: lighter;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .container img {
            width: 3vh;
            height: 3vh;
            vertical-align: top;
        }

        #containerOrange, #containerBlue {
            width: calc(50vw - 3.5vh - 3vh - 2vh);
        }

        #containerBuy, #containerRent, #containerService {
            width: calc(33vw - 3.5vh - 3vh - 2vh);
        }

        /* Hide the browser's default checkbox */
        .filterCheck {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 3vh;
            width: 3vh;
            background-color: #eee;
            border-radius: 0.5vh;
        }

        /* On mouse-over, add a grey background color */
        .filterCheck:hover ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .filterCheck:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .filterCheck:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 0.95vh;
            top: 0.35vh;
            width: 0.75vh;
            height: 1.5vh;
            border: solid white;
            border-width: 0 0.5vh 0.5vh 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        #saveDiv {
            left: 0;
            width: calc(100vw - 8vh);
            text-align: center;
            padding-bottom: 2vh;
        }

        #SaveButton {
            font-size: 3vh;
            font-weight: lighter;
            background-color: gray;
            border: none;
            color: white;
            padding: 1vh 1vh;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            width: 30vw;
            margin: auto 1vh;
            cursor: pointer;
        }
    </style>
    <div id="jquerytests2">
        <div id="time_filter" class="bot-menu">
            <div id="time_button" class="buttons">
                <div>
                    <img src="~/Images/Time_Icon.png" class="menubuttom" alt="Tid">
                </div>
            </div>
        </div>
        <div id="cat_filter" class="bot-menu">
            <div id="cat_button" class="buttons">
                <div>
                    <img src="~/Images/Filter_Icon.png"  class="menubuttom" alt="Tid">
                </div>
            </div>
        </div>
        <div id="list" class="bot-menu">

            <div id="list_button" class="buttons">
                <div>
                    <a href="@Url.Action("ListView", "Home")">
                    <img src="~/Images/List_Icon.png" alt="Tid" class="menubuttom" href="~/Home/ListView.cshtml">
                    </a>
                 </div>
            </div>
        </div>
        <div id="time_hidden" class="submenu">
            tids-filter
        </div>
        <div id="cat_hidden" class="submenu">
            <label id="containerOrange" class="container">
                <input type="checkbox" id="filter_orange" class="filterCheck" name="Orange" value="true" /><text>Offers</text>
                <span class="checkmark"></span>
                <input type="hidden" name="Orange" value="false" />
            </label>
            <label id="containerBlue" class="container">
                <input type="checkbox" id="filter_blue" class="filterCheck" name="Blue" value="true" /><text>Requests</text>
                <span class="checkmark"></span>
                <input type="hidden" name="Blue" value="false" />
            </label>
            <br />
            <label id="containerBuy" class="container">
                <input type="checkbox" id="filter_buy" class="filterCheck" name="Buy" value="true" /> <img src="~/Images/Pins/Buy.png" alt="Buy/Sell">
                <span class="checkmark"></span>
                <input type="hidden" name="Buy" value="false" />
            </label>
            <label id="containerRent" class="container">
                <input type="checkbox" id="filter_rent" class="filterCheck" name="Rent" value="true" /> <img src="~/Images/Pins/Rent.png" alt="Rent">
                <span class="checkmark"></span>
                <input type="hidden" name="Rent" value="false" />
            </label>
            <label id="containerService" class="container">
                <input type="checkbox" id="filter_service" class="filterCheck" name="Service" value="true" /> <img src="~/Images/Pins/Service.png" alt="Service">
                <span class="checkmark"></span>
                <input type="hidden" name="Service" value="false" />
            </label>
            <br />
            <label class="container">
                <input type="checkbox" id="filter_food" class="filterCheck" name="Food" value="true" /><img src="~/Images/Pins/Food.png" alt="Food" class="cat_img"><text> Food</text>
                <span class="checkmark"></span>
                <input type="hidden" name="Food" value="false" />
            </label>
            <br />
            <label class="container">
                <input type="checkbox" id="filter_vehicle" class="filterCheck" name="Vehicle" value="true" /> <img src="~/Images/Pins/Vehicle.png" alt="Vehicle"><text> Vehicle</text>
                <span class="checkmark"></span>
                <input type="hidden" name="Vehicle" value="false" />
            </label>
            <br />
            <label class="container">
                <input type="checkbox" id="filter_misc" class="filterCheck" name="Misc" value="true" /> <img src="~/Images/Pins/Misc.png" alt="Misc"><text> Misc</text>
                <span class="checkmark"></span>
                <input type="hidden" name="Misc" value="false" />
            </label>
            <br />
            <div id="saveDiv">
                <input type="submit" value="Save" id="SaveButton" onclick="save_data()" />
            </div>
        </div>
    </div>

</body>
</html>
