
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/sidemenu.css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Searchbox</title>
    <style>


        html {
            padding: 0;
            margin: 0;
            top: 0;
            height: 100%;
        }

        body {
            display: block;
            margin: 0px;
            height: 100%;
        }




        .body-content {
            padding: 0;
            margin: 0;
        }

        .list_content {
            margin-top: 10%;
            font-family: 'Roboto', sans-serif;
            height: 90%;
        }

        .list {
            padding: 20px;
            clear: both;
            border-left: solid 2px;
            border-right: solid 2px;
            border-bottom: solid 1px;
            border-top: solid 1px;
            border-color: lightgray;
            height: 20%;
        }

        .list_title {
            float: left;
            display: inline-block;
            width: 75%;
            font-weight: bold;
        }

        .list_distance {
            float: right;
            display: inline-block;
            width: 25%;
            text-align: right;
            font-weight: bold;
        }

        .list_desc {
            float: left;
            display: inline-block;
            width: 75%;
        }

        .list_img img {
            float: right;
            display: inline-block;
            height: 50px;
        }
    </style>
</head>
<body>
        @RenderBody()
</body>
</html>