
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/sidemenu.css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Searchbox</title>
    <style>


        html {
            padding: 0;
            margin: 0;
            top: 0;
            overflow: hidden;
        }

        body {
            display: block;
            margin: 0px;
        }

        .body-content {
            padding: 0;
            margin: 0;
        }

        .list_content {
            margin-top: 10vh;
            font-family: 'Roboto', sans-serif;
            height: 80vh;
            overflow-y: scroll;
        }

        .list {
            padding: 3vh;
            clear: both;
            border-left: solid 0.5vh;
            border-right: solid 0.5vh;
            border-bottom: solid 0.25vh;
            border-top: solid 0.25vh;
            border-color: lightgray;
            height: 16vh;

            position:relative;
        }

        .list_icon {
            float:left;
            display:inline-block;
            width:20%;

            position:absolute;
            left:2%;
            top:25%;
        }

        .list_icon img {
            height: 8vh;
            width: 8vh;
            margin:auto;
        }

        .list_title {
            float: left;
            display: inline-block;
            width: 55%;
            height:40%;
            overflow: hidden;
            font-size: 3vh;
            font-weight: bold;

            position:absolute;
            top:10%;
            left:20%
        }

        .list_distance {
            float: right;
            display: inline-block;
            width: 25%;
            height: 25%;
            overflow: hidden;
            text-align: right;
            font-size: 3vh;
            font-weight: bold;
            
            position:absolute;
            top:10%;
            right:5%
        }

        .list_desc {
            float: left;
            display: inline-block;
            height: 50%;
            width: 55%;
            max-height: 75%;
            overflow: hidden;
            font-size: calc(1vw + 1vh + 1vmin);

            position: absolute;
            bottom: 0%;
            left: 20%
        }

        .list_img img {
            float: right;
            display: inline-block;
            max-height: 12vh;
            max-width: 20vw;

            position: absolute;
            bottom: 20%;
            right: 5%
        }
    </style>
</head>
<body>
        @RenderBody()
</body>
</html>