
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Searchbox</title>
    <style>


        html {
            padding: 0;
            margin: 0;
            top: 0;
            height: 0px;
        }

        body {
            display: block;
            margin: 0px;
        }


       
        #map {
            margin-top: 62px;
            height: calc(100vh - 100px);
            width: 100vw;

        }

        .body-content {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
        @RenderBody()
</body>
</html>