<div id="mySidenav" class="sidenav">
    <div id="toplogin">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <p> Namn på den inloggade</p>
        <p> Email på den inloggade</p>
    </div>
    <a href="#">Log Out</a>
    <a href="#">Offers & Requests</a>
    <a href="#">Settings</a>
    <a href="#">Help</a>
    <a href="#">Send Feedback</a>

</div>


<div id="menu">
    <span id="hamburger" onclick="openNav()">&#9776;</span>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
</div>
