


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/sidemenu.css" />
</head>

<div id="mySidenav" class="sidenav">
    <div id="toplogin">
        <a href="javascript:void(0)" class="closebtn" onclick="closeBurger()">&times;</a>
        <div id="avatardiv">
            <img src="~/Images/avatar.png" alt="Avatar" class="avatar">
        </div>
        <p id="nameuser"> Anders Jakobsson</p>
        <p id="email"> a.jakobsson@gmail.com</p>
    </div>
    <div id="loggaut">
        <a href="#" class="textsidemenu">Log Out</a>
    </div>
    <a href="#" class="textsidemenu">Offers & Requests</a>
    <a href="#" class="textsidemenu">Settings</a>
    <a href="#" class="textsidemenu">Help</a>
    <a href="#" class="textsidemenu">Send Feedback</a>

</div>


<div id="menu">
    <span id="hamburger" onclick="openBurger()">&#9776;</span>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
</div>

